@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

/* 
Color Palette: Mermaid Lagoon
https://www.canva.com/colors/color-palettes/mermaid-lagoon/
*/
:root {
    --000: #f2f2f2;
    --050: #b1d4e0;
    --100: #2e8bc0;
    --200: #145da0;
    --300: #0c2d48;
    --400: #ccc;
    --500: #444;
}

body {
    /* background-color: var(--mermaid-lagoon-baby-blue); */
    background-color: var(--000);
    color: var(--300);
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    margin: 10px auto 20px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid var(--300);
}

nav a {
    margin-left: 12px;
    padding: 5px;
}

nav .logo {
    margin-right: auto;
}

nav a:hover {
    text-decoration: underline;
}

.navButton {
    font-weight: bold;
    font-size: larger;
}

footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
    /* color: var(--mermaid-lagoon-blue); */
    color: #145da0;
    border-top: 1px solid var(--300);
}

input {
    margin-right: 1em;
    accent-color: var(--300);
    border-color: var(--300);
}

.logo {
    font-family: 'Bruno Ace', cursive;
    font-size: xx-large;
    margin: 0;
}

.logo a:hover {
    text-decoration: none;
}