@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* 
Color Palette: Mermaid Lagoon
https://www.canva.com/colors/color-palettes/mermaid-lagoon/
*/
:root {
    --000: #b1d4e0;
    --100: #2e8bc0;
    --200: #145da0;
    --300: #0c2d48;
}

body {
    /* background-color: var(--mermaid-lagoon-baby-blue); */
    background-color: #f2f2f2;
    color: var(--300);
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    margin: 10px auto 20px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid var(--300);
}

nav a {
    margin-left: 12px;
    padding: 5px;
}

nav .logo {
    margin-right: auto;
}

nav a:hover {
    text-decoration: underline;
}

/* .navButton {
    background-color: 'white';
    border-radius: '8px';
    border: '1px solid #2e8bc0',
} */

footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
    /* color: var(--mermaid-lagoon-blue); */
    color: #145da0;
    border-top: 1px solid var(--300);
}