/* 
Color Palette: Mermaid Lagoon
https://www.canva.com/colors/color-palettes/mermaid-lagoon/
*/
/* :root { */
.root {
    --000: #f2f2f2;
    --050: #b1d4e0;
    --100: #2e8bc0;
    --200: #145da0;
    --300: #0c2d48;
    --400: #ccc;
    --500: #444;
}

.taskList {
    /* padding: 10px; */
    border-radius: 5px;
}

.task {
    background-color: var(--100);
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
}

.taskHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.showDetails {
    margin-right: 5px;
    margin-left: auto;
    color: white;
    font: 25px bolder;
    cursor: pointer;
}

.taskTitle {
    color: var(--300);
}

.taskCompleted {
    text-decoration: line-through;
    color: var(--500);
}

.taskDescription {
    background-color: var(--000);
    padding: 5px;
}

.taskDetailPropertyList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.taskDetailPropertyList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.taskDetailPropertyName {
    font-weight: bold;
    margin-right: 10px;
}

.taskDetailPropertyValue {
    color: var(--500);
    max-width: 70%;
    text-align: justify;
}

/* .taskFormContainer {
    padding: 0 10px;
} */

.taskForm {
    display: flex;
    flex-direction: column;
}

.taskFormLineColumn {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.taskFormLineInline,
.taskFormButtonLine {
    flex-direction: row;
}

.taskForm label {
    font-weight: bold;
}

.taskForm input,
.taskForm textarea {
    border: 1px solid;
    border-color: var(--300);
}

.taskForm input[type=text],
.taskForm input[type=date],
.taskForm textarea {
    width: 100%;
}

.taskFormButtonLine {
    justify-content: space-evenly;
}

.taskFormButtonSubmit,
.taskFormButtonCancel {
    font-weight: bold;
    padding: 5px 10px;
}

.taskFormButtonSubmit {
    background-color: var(--300);
    color: var(--000);
}