/* 
Color Palette: Mermaid Lagoon
https://www.canva.com/colors/color-palettes/mermaid-lagoon/
*/
/* :root { */
.root {
    --000: #f2f2f2;
    --050: #b1d4e0;
    --100: #2e8bc0;
    --200: #145da0;
    --300: #0c2d48;
    --400: #ccc;
    --500: #444;
}

.taskList {
    border-radius: 5px;
}

.taskHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.taskListButtonsItem {
    margin: 2px;
}

.taskDetailPropertyList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.taskDetailPropertyList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.taskDetailPropertyName {
    font-weight: bold;
    margin-right: 10px;
}

.taskDetailPropertyValue {
    color: var(--500);
    max-width: 70%;
    text-align: justify;
}

.taskForm {
    display: flex;
    flex-direction: column;
}

.taskFormLineColumn {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.taskFormLineInline,
.taskFormButtonLine {
    flex-direction: row;
}

.taskForm label {
    font-weight: bold;
}

.taskForm input,
.taskForm textarea {
    border: 1px solid;
    border-color: var(--300);
}

.taskForm input[type=text],
.taskForm input[type=date],
.taskForm textarea {
    width: 100%;
}

.taskFormButtonLine {
    justify-content: space-evenly;
}

.btnHighlight,
.btnNormal {
    font-weight: bold;
    padding: 5px 10px;
}

.btnHighlight {
    background-color: var(--300);
    color: var(--000);
}



/* ///////////////////////////////////////////////////////////////////////////// */
.container {
    display: flex;
}